/*
selector{
  property:value;
}
*/
body {
  font-family: system-ui;
  background: #f06d06;
  color: white;
  text-align: justify;
}

h1{
  color: black;
}

footer{
  background: #555555
}
